﻿@model LeaveManagement.ViewModels.Company.CompanyVM

@{
    ViewData["Title"] = LeaveManagementLocalizerFactory.CommandsLocalizer["About company"];
    ViewData[LeaveManagement.ManageNavPages.Employees] = LeaveManagement.ManageNavPages.Company;
}

<h1> @Html.DisplayFor(model => model.CompanyName)</h1>

<div>
    <h4>@LeaveManagementLocalizerFactory.CommandsLocalizer["About company"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyRegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyRegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPostAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPostAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPublicComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPublicComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProtectedComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProtectedComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableLockoutForEmployees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableLockoutForEmployees)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id" title="@LeaveManagementLocalizerFactory.CommandsLocalizer["Edit"]">
        <i class="fa fa-pencil"></i>
    </a>
    <a class="btn btn-primary" asp-action="Index" title="@Localizer["Back to list"]">
        <i class="fa fa-list"></i>
    </a>
    <a class="btn btn-info" asp-controller="Employee" asp-action="Index" title="@LeaveManagementLocalizerFactory.MenuLocalizer["Employees"]"
       asp-route-companyId="@Model.Id">
        <i class="fa fa-users"></i>
    </a>
</div>
