﻿@model             LeaveManagement.ViewModels.LeaveType.LeaveTypeNavigationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["Details about leave type"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-secondary">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10  text-secondary">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="fa fa-pencil"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Edit"]</a> 
    <a asp-action="Index" class="btn btn-primary"><i class="fa fa-list"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Back to List"]</a>
</div>
