﻿@using LeaveManagement.Areas.Identity;
@model LeaveManagement.ViewModels.Employee.EmployeeCreationVM
@inject ILeaveManagementCustomLocalizerFactory CustomLocalizerFactory

@{
    Microsoft.Extensions.Localization.IStringLocalizer RegisterLocalizer = CustomLocalizerFactory.StringIdentityLocalizer;
    ViewData["Title"] = Localizer["Add new employee"];
    ViewData[ManageNavPages.ActivePageSection] = ManageNavPages.Employees;
}
<div asp-validation-summary="All"></div>
<form asp-action="@ViewBag.Action">
    @Html.Hidden("Id")
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="Email" />
    <!--Principal data-->
    <div class="form-row">

        <!--Column with account data-->
        <!--Column with employee data-->
        <div class="col-md-12">
            <h4>@RegisterLocalizer["Profile"]</h4>
            <!--Row with user name-->
            <div class="form-row">
                <div class="col-md-3 col-lg-3 col-sm-4">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ProfileDataEnabled)
                            {
                                <input class="form-control" asp-for="Title" placeholder="@Html.PromptFor(m => m.Title)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="Title" placeholder="@Html.PromptFor(m => m.Title)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Title)">
                                    <span class="fa fa-address-card"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-8">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ProfileDataEnabled)
                            {
                                <input class="form-control" asp-for="FirstName" placeholder="@Html.PromptFor(m => m.FirstName)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="FirstName" placeholder="@Html.PromptFor(m => m.FirstName)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.FirstName)">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ProfileDataEnabled)
                            {
                                <input class="form-control" asp-for="LastName" placeholder="@Html.PromptFor(m => m.LastName)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="LastName" placeholder="@Html.PromptFor(m => m.LastName)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.LastName)">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Row with validation data-->
            <div class="form-row">
                <div class="col-md-12 col-lg-12">
                    <span asp-validation-for="Title" class="text-danger d-block"></span>
                    <span asp-validation-for="FirstName" class="text-danger d-block"></span>
                    <span asp-validation-for="LastName" class="text-danger d-block"></span>
                </div>
            </div>
            <!--Row with date of birth and employement-->
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ProfileDataEnabled)
                            {
                                <input class="form-control" asp-for="DateOfBirth" placeholder="@Html.PromptFor(m => m.DateOfBirth)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="DateOfBirth" placeholder="@Html.PromptFor(m => m.DateOfBirth)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.DateOfBirth)">
                                    <span class="fa fa-birthday-cake"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="DateOfBirth" class="text-danger d-block"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ProfileDataEnabled)
                            {
                                <input class="form-control" asp-for="EmploymentDate" placeholder="@Html.PromptFor(m => m.EmploymentDate)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="EmploymentDate" placeholder="@Html.PromptFor(m => m.EmploymentDate)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.EmploymentDate)">
                                    <span class="fa fa-building"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="EmploymentDate" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <!--Row with company and  phone number-->
            <div class="form-row">
                <div class="col-5">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ContactDataEnabled)
                            {
                                <input class="form-control" asp-for="PhoneNumber" placeholder="@Html.PromptFor(m=>m.PhoneNumber)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="PhoneNumber" placeholder="@Html.PromptFor(m=>m.PhoneNumber)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.PhoneNumber)">
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger d-block"></span>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ContactDataEnabled)
                            {
                                <input class="form-control" asp-for="ContactMail" placeholder="@Html.PromptFor(m => m.ContactMail)">
                            }
                            else
                            {
                                <input class="form-control" asp-for="ContactMail" placeholder="@Html.PromptFor(m => m.ContactMail)" disabled>
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.ContactMail)">
                                    <span class="fa fa-at"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ContactMail" class="text-danger d-block"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.CompanyEnabled)
                            {
                                <select asp-items="Model.Companies" class="form-control" asp-for="CompanyId" placeholder="@Html.PromptFor(m=>m.CompanyId)"
                                        onselect="updateCompaniesList"
                                        data-refreshMethod="@Url.Action("GetEmployeesByCompany", "Employee")"
                                        data-targetId="ManagerId">
                                </select>
                            }
                            else
                            {
                                <select asp-items="Model.Companies" class="form-control" asp-for="CompanyId" placeholder="@Html.PromptFor(m=>m.CompanyId)" disabled>
                                </select>
                                <input type="hidden" asp-for="CompanyId" />
                            }
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Company)">
                                    <span class="fa fa-building"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.CompanyEnabled)
                        {
                            <span asp-validation-for="CompanyId" class="text-danger d-block"></span>
                        }
                        </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            @if (Model.ManagerEnabled)
                            {
                                <select asp-items="Model.Managers" class="form-control" asp-for="ManagerId" placeholder="@Html.PromptFor(m=>m.Manager)">
                                </select>
                            }
                            else
                            {
                                <select asp-items="Model.Managers" class="form-control" asp-for="ManagerId" placeholder="@Html.PromptFor(m=>m.Manager)" disabled>
                                </select>
                            }

                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Manager)">
                                    <span class="fa fa-building"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ManagerId" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="AcceptContract" placeholder="@Html.PromptFor(m=>m.AcceptContract)">
                    <label class="form-check-label" asp-for="AcceptContract"></label>
                </div>
                <span asp-validation-for="AcceptContract" class="text-danger d-block"></span>
            </div>

        </div>
    </div>
    <!--Roles list-->
    <div class="form-row">

        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    @if (Model.RolesListEnabled)
                    {
                        <select asp-items="Model.RolesList" asp-for="Roles" class="form-control" multiple="multiple"
                                placeholder="@Html.DisplayNameFor(Model => Model.RolesList)">
                        </select>
                    }
                    else
                    {
                        <select asp-items="Model.RolesList" asp-for="Roles" class="form-control" multiple="multiple"
                                placeholder="@Html.DisplayNameFor(Model => Model.RolesList)" disabled>
                        </select>
                    }
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.RolesList)">
                            <span class="fa fa-4x fa-users"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@CustomLocalizerFactory.CommandsLocalizer["Update user"]</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" id="refreshCompanies">
        function updateCompaniesList(sender) {
            $.ajax({
                type: "POST",
                url: sender.srcElement.getAttribute("data-refreshMethod"),
                data: { companyId: sender.srcElement.value, managerId: "@(Model.ManagerId)" },
                dataType: "json",
                success: function (msg, status, responce) {
                    let tgt = document.getElementById(sender.srcElement.getAttribute("data-targetId"));
                    tgt.innerHTML = "";
                    if (msg.length > 0) {
                        for (i = 0; i < msg.length; i++) {
                        var option = document.createElement("option");
                        option.text = msg[i].text;
                        option.value = msg[i].value;
                        option.enabled = msg[i].enabled;
                            tgt.options.add(option);
                        }
                    }
                },
                error: function (req) {
                    console.log(req);
                }
            })
        }
        document.getElementById("CompanyId").addEventListener("change", updateCompaniesList);

    </script>
}
