﻿@model LeaveManagement.ViewModels.LeaveRequest.CreateLeaveRequestVM

@{
    ViewData["Title"] = Localizer["Create leave request"];
}

<h1>@Localizer["Create leave request"]</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTypes" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control" asp-items="Model.LeaveTypes">
                    <option disabled selected>@Html.PromptFor(mdl=>Model.LeaveTypes)</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequestComment" class="control-label"></label>
                <textarea asp-for="RequestComment" class="form-control rounded" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

