﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<div class="login-page hold-transition">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe">
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a id="forgot-password" asp-page="ForgotPassword">@CustomLocalizerFactory.StringIdentityLocalizer["I forgot my password"]</a>
                </p>

                <p class="mb-0">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-center">@CustomLocalizerFactory.StringIdentityLocalizer["Resend email confirmation"]</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
