﻿@page
@model RegisterModel
@{ Microsoft.Extensions.Localization.IStringLocalizer RegisterLocalizer = CustomLocalizerFactory.StringIdentityLocalizer;
}

@{
    ViewData["Title"] = RegisterLocalizer["Register"];
}
@{
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<div class="register-page hold-transition" style="min-height: 586.391px;">
    <div class="register-box">
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">@RegisterLocalizer["Register a new membership"]</p>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <span asp-validation-for="Input.DisplayName" class="text-danger d-block"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.DisplayName" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Input.DisplayName)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger d-block"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Input.Email)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Input.Password)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Input.ConfirmPassword)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    @CustomLocalizerFactory.HtmlIdentityLocalizer["I agree to the <a href=\"#\">terms</a>"]
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">@RegisterLocalizer["Register"]</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a asp-page="Login.cshtml" class="text-center">@RegisterLocalizer["I already have a membership"]</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
