﻿@using Microsoft.AspNetCore.Identity;
@using LeaveManagement.CustomLocalization;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject LeaveManagement.Contracts.ILeaveRequestsRepositoryAsync LeaveRequests
@{
    IdentityUser AppUser = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    IList<string> UserRoles = AppUser != null ? await UserManager.GetRolesAsync(AppUser) : null;
    Microsoft.AspNetCore.Routing.RouteValueDictionary CurrentRoute = Context.Request.RouteValues;
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@Localizer["Leave management"]</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome47/css/font-awesome.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>




            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <partial name="_Notifications" />
                <!--Langudage dropdown menu-->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-globe" title="@Localizer["Language"]"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">@Localizer["Please chose your language"]</span>
                        @foreach (var culture in GlobalizationStartup.SupportedCultures)
                        {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Home" asp-action="SwitchCulture" asp-route-cultureCode="@culture.Name"
                               asp-route-refController="@(CurrentRoute.ContainsKey("controller")? CurrentRoute["controller"] :"")"
                               asp-route-refAction="@(CurrentRoute.ContainsKey("action")? CurrentRoute["action"] :"")"
                               asp-route-refId="@(CurrentRoute.ContainsKey("id")? CurrentRoute["id"] :"")">
                                <i class="@culture.GetFlagIconsCountryCode("flag-icon flag-icon-{0}")"></i> @culture.DisplayName
                            </a>
                        }
                    </div>
                </li>


            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <i class="fa fa-2x fa-compass"></i>
                <span class="brand-text font-weight-light">@LeaveManagementLocalizerFactory.MenuLocalizer["Leave management"]</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <partial name="_LoginAdminLTEPartial" />
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fa fa-home"></i>
                                <p>
                                    @LeaveManagementLocalizerFactory.MenuLocalizer["Home"]
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fa fa-home"></i>
                                <p>
                                    @LeaveManagementLocalizerFactory.MenuLocalizer["Help"]
                                </p>
                            </a>
                        </li>
                        @if (await UserManager.IsMemberOfOneAsync(User, LeaveManagement.UserRoles.Employee | LeaveManagement.UserRoles.HRManager | LeaveManagement.UserRoles.CompanyAdministrator))
                        {
                            <li class="nav-item">
                                <a asp-controller="LeaveRequests" asp-action="Create" class="nav-link">
                                    <i class="nav-icon fa fa-hotel"></i>
                                    <p>
                                        @LeaveManagementLocalizerFactory.MenuLocalizer["Apply for leave"]
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="LeaveRequests" asp-action="EmployeeRequests" class="nav-link">
                                    <i class="nav-icon fa fa-calculator"></i>
                                    <p>
                                        @LeaveManagementLocalizerFactory.MenuLocalizer["My leaves"]
                                    </p>
                                </a>
                            </li>

                        }
                        @if (await UserManager.IsMemberOfOneAsync(User, LeaveManagement.UserRoles.AppAdministrator))
                        {
                            <li class="nav-item">
                                <a asp-controller="Company" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fa fa-building"></i>
                                    <p>
                                        @LeaveManagementLocalizerFactory.MenuLocalizer["Manage companies"]
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Employee" asp-action="CreateEmployee" class="nav-link">
                                    <i class="nav-icon fa fa-user-plus"></i>
                                    <p>
                                        @LeaveManagementLocalizerFactory.MenuLocalizer["Create company admin"]
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Employee" asp-action="Index">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>@LeaveManagementLocalizerFactory.MenuLocalizer["Users"]</p>
                                </a>
                            </li>
                        }
                        @if (await _UserManager.IsCompanyPrivelegedUser(User))
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fa fa-tachometer"></i>
                                    <p>
                                        @LeaveManagementLocalizerFactory.MenuLocalizer["Administration"]
                                        <i class="right fa fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="LeaveRequests" asp-action="ModeratorIndex">
                                            <i class="fa fa-low-vision nav-icon"></i>
                                            <p>@LeaveManagementLocalizerFactory.MenuLocalizer["Review requests"]</p>
                                            @if ((int?)ViewData["PendingRequests"] > 0)
                                            {
                                                <span class="badge badge-warning">@ViewData["PendingRequests"]</span>
                                            }
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Index" asp-controller="LeaveTypes">
                                            <i class="fa fa-table nav-icon"></i>
                                            <p>@LeaveManagementLocalizerFactory.MenuLocalizer["Leave types"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="LeaveAllocation" asp-action="AllocateByLeaveTypes">
                                            <i class="fa fa-hotel nav-icon"></i>
                                            <p>@LeaveManagementLocalizerFactory.MenuLocalizer["Allocate leaves"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-controller="Employee" asp-action="IndexForYourCompany">
                                            <i class="fa fa-group nav-icon"></i>
                                            <p>@LeaveManagementLocalizerFactory.MenuLocalizer["Employees"]</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">

                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                &copy; @DateTime.Now.Year - @Localizer["Leave management"] <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", false);
</body>
</html>
