﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" title="Manage" role="button" id="accountManager" data-toggle="dropdown">@Localizer["Hello"] @User.Identity.Name!</a>
            <div class="dropdown-menu" aria-labelledby="accountManager">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user"></i> @Localizer["Manage account"]</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fa fa-user-secret"></i> @Localizer["Password"]</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item btn btn-link text-dark"><i class="fa fa-close"></i> @Localizer["Logout"]</button>
                </form>
            </div>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }
</ul>
